.rtl-tdxonj-MuiTableHead-root,
.rtl-nnc4si {
  display: contents !important;
}
.MuiPaper-elevation0 {
  background: #222222 !important;
  margin: 0 !important;
  height: 100vh !important;
}
.MuiPaper-elevation0 * {
  font-size: 1.2rem !important;
}
.estdrawer .rtl-1ioqvny-MuiPaper-root-MuiDrawer-paper{
  background-color: #eee !important;
}
.flex-bet {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
}
.successnomod * {
  text-align: right !important;
  font-size: 1rem !important;
}
.successnomod p {
  border-bottom: 1px solid gray !important;
  padding: 0.5rem 0;
}
.rtl-7dv86l-MuiDrawer-docked .MuiDrawer-paper {
  position: absolute !important;
  height: 400px !important;
  right: 100% !important;
}
.flex-cen {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.flex-ali {
  display: flex !important;
  align-items: center;
}
.estdrawer .MuiDrawer-paperAnchorLeft{
  background-color: #fff !important;
  padding: 0px 1rem;
}
.flex-cenc {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  align-items: center;
}
.rtl-1x3v3vy {
  background: orangered !important;
}
.rtl-99a237 {
  background: rgb(4, 97, 50) !important;
}
.rtl-1ircn5c * {
  font-size: 1rem !important;
}
.MuiInputBase-input {
  background: white !important;
}
.modall div {
  text-align: right !important;
}
.rtl-1rislp7 {
  border: 2px solid green !important;
}
.MuiSvgIcon-root {
  display: block !important;
  direction: rtl;
}
.rtl-1i7qwyf-MuiDrawer-docked{
    height: 100% !important;
}
.rtl-1yp109x-MuiDrawer-docked{
    height: 100% !important;
}

.MuiDrawer-paperAnchorRight{
    height: 100% !important;
}
.estdrawer .MuiDrawer-paperAnchorLeft{
    height: 400px !important;
    position: absolute !important;
}
.rtl-dwfwgi-MuiPaper-root-MuiDrawer-paper{
}
.rtl-nupyyr{
    width: 100% !important;
}